.profilePicIcon {
  width: 150px;
  position: relative;
  height: 150px;
  object-fit: cover;
}
.profilePic {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-82xl) 0 var(--padding-52xl);
}
.shirleyromero {
  position: relative;
  line-height: 32px;
}
.profileName {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.editProfile {
  position: relative;
  line-height: 18px;
  font-weight: 600;
}
.button1 {
  border-radius: var(--br-9xs);
  border: 1px solid var(--border-color);
  flex-direction: row;
  padding: var(--padding-7xs) var(--padding-3xs);
}
.button,
.button1,
.profile {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.button {
  flex-direction: column;
  padding: var(--padding-12xs) 0 var(--padding-12xs) var(--padding-xl);
  font-size: var(--font-size-sm);
}
.profile {
  flex-direction: row;
  padding: var(--padding-9xs) 0;
}
.iconsoptions {
  width: 24px;
  position: relative;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.icon,
.icon1 {
  flex-direction: row;
}
.icon1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs);
}
.icon {
  padding: 0 0 0 var(--padding-8xs);
}
.account,
.buttonSize,
.icon {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.account {
  align-self: stretch;
  flex-direction: row;
  font-size: var(--font-size-9xl);
}
.buttonSize {
  flex-direction: column;
}
.posts {
  position: relative;
  line-height: 18px;
}
.button2,
.tag {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-21xl) 0 0;
}
.tag {
  align-self: stretch;
  flex-direction: column;
  padding: var(--padding-xl) 0;
}
.shirleyRomero {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 24px;
  font-weight: 600;
}
.profileName1 {
  align-self: stretch;
  position: relative;
  height: 24px;
}
.desc,
.header {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.desc {
  width: 613px;
  flex-direction: column;
  padding: var(--padding-sm) 0;
  box-sizing: border-box;
}
.header {
  flex-direction: row;
  padding: var(--padding-54xl) 0 var(--padding-25xl);
}
.border,
.border1,
.border3,
.header {
  position: absolute;
  top: 0;
  left: 0;
}
.border1 {
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  background-color: var(--border-color);
}
.border,
.border3 {
  width: 935px;
  height: 1px;
}
.border3 {
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  background-color: var(--color-gray-100);
}
.border2,
.icon2 {
  width: 47px;
  position: relative;
  height: 1px;
}
.icon2 {
  width: 12px;
  height: 12px;
}
.buttonIcon {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0;
}
.posts3 {
  position: relative;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: 600;
}
.buttonTitle {
  flex-direction: row;
  padding: 0 0 0 var(--padding-7xs);
}
.button5,
.button6,
.buttonTitle {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.button6 {
  flex-direction: row;
  padding: var(--padding-mid) var(--padding-41xl) var(--padding-mid) 0;
}
.button5 {
  position: absolute;
  top: 0;
  left: 0;
  flex-direction: column;
  color: var(--color-gray-100);
}
.border4 {
  width: 47px;
  position: relative;
  height: 1px;
  display: none;
}
.button7 {
  position: absolute;
  top: 0;
  left: 114px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.border7 {
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--gray);
}
.border7,
.button9,
.toogle1 {
  position: absolute;
  top: 0;
}
.button9 {
  left: 229px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.toogle1 {
  left: calc(50% - 176.5px);
  width: 353px;
  height: 53px;
}
.imageIcon,
.toogle {
  position: absolute;
  left: 0;
}
.toogle {
  top: 267px;
  width: 935px;
  height: 53px;
  font-size: var(--font-size-xs);
  color: var(--gray);
}
.imageIcon {
  top: 0;
  width: 380px;
  height: 380px;
  object-fit: cover;
}
.googleplayBannedIcon {
  width: 134.3px;
  position: relative;
  height: 40px;
  object-fit: cover;
}
.banned {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-5xs) 0 0;
}
.appstoreBannedIcon {
  width: 136px;
  position: relative;
  height: 40px;
  object-fit: cover;
}
.button12 {
  position: absolute;
  top: 0;
  left: calc(50% - 142.5px);
  width: 286.3px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xl) 0 0;
  box-sizing: border-box;
}
.button11 {
  position: absolute;
  top: 46px;
  left: 0;
  width: 555px;
  height: 65px;
}
.startCapturingAnd {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 18px;
  font-weight: 600;
}
.div4 {
  left: calc(50% - 175.5px);
  width: 352px;
  height: 18px;
}
.div3,
.div4,
.div6 {
  position: absolute;
  top: 0;
}
.div3 {
  left: 0;
  width: 555px;
  height: 18px;
}
.div6 {
  left: calc(50% - 162.5px);
  width: 326px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) 0 0;
  box-sizing: border-box;
}
.div5 {
  top: 18px;
  left: 0;
  height: 28px;
  font-size: var(--font-size-base);
}
.content1,
.content2,
.div5 {
  position: absolute;
  width: 555px;
}
.content2 {
  top: calc(50% - 56px);
  left: 0;
  height: 111px;
}
.content1 {
  top: 0;
  left: 380px;
  height: 380px;
}
.content,
.profilebody {
  position: absolute;
  width: 935px;
}
.content {
  top: 320px;
  left: 0;
  height: 380px;
  font-size: var(--font-size-lg);
}
.profilebody {
  top: 0;
  left: calc(50% - 467px);
  background-color: var(--dark-white);
  height: 1080px;
  overflow: hidden;
  color: var(--color-gray-100);
}
.meta {
  position: relative;
  line-height: 11px;
  text-transform: capitalize;
}
.footerItem,
.footerTop {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.footerItem {
  padding: 0 var(--padding-5xs) var(--padding-xs);
}
.footerTop {
  position: absolute;
  top: 0;
  left: calc(50% - 331px);
}
.iconsarrow {
  width: 11px;
  position: relative;
  height: 11px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.footerItem13,
.icon5 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-9xs);
}
.footerItem13 {
  padding: 0 var(--padding-5xs) var(--padding-xs) var(--padding-base);
}
.footer2,
.footerBottom {
  position: absolute;
  left: calc(50% - 331px);
}
.footerBottom {
  top: 23px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs) 0;
}
.footer2 {
  top: 0;
  width: 662px;
  height: 58px;
}
.footer1 {
  align-self: stretch;
  position: relative;
  height: 58px;
}
.footer {
  position: absolute;
  top: 946px;
  left: 0;
  width: 1920px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xl) 0 var(--padding-33xl);
  box-sizing: border-box;
  font-size: var(--font-size-xs);
}
.logoIcon {
  width: 103px;
  position: relative;
  height: 29px;
  object-fit: cover;
  cursor: pointer;
}
.logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 360px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs) 0 0;
  box-sizing: border-box;
}
.iconssearch {
  width: 10px;
  position: relative;
  height: 10px;
  overflow: hidden;
  flex-shrink: 0;
}
.icon6 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) var(--padding-7xs) var(--padding-9xs) 0;
}
.search2 {
  position: relative;
  line-height: 18px;
  font-weight: 300;
}
.search1 {
  position: absolute;
  top: 4px;
  left: 71px;
  width: 72px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0;
}
.search,
.search1,
.searchBox {
  box-sizing: border-box;
}
.searchBox {
  width: 215px;
  position: relative;
  border-radius: var(--br-10xs);
  border: 1px solid var(--border-color);
  height: 28px;
}
.search {
  position: absolute;
  width: 22.99%;
  top: 0;
  right: 38.5%;
  left: 38.5%;
  background-color: var(--dark-white);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) 0;
}
.iconsmessenger,
.menuButtonItemIcon {
  width: 22px;
  position: relative;
  height: 22px;
  cursor: pointer;
}
.iconsmessenger {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}
.menuButtonItem,
.menuButtonItemIcon4 {
  width: 22px;
  position: relative;
  height: 22px;
}
.menuButtonItemIcon4 {
  object-fit: cover;
}
.menuButton {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs) 0 var(--padding-6xs) var(--padding-5xl);
  gap: var(--gap-3xl);
}
.navigations2 {
  align-self: stretch;
  position: relative;
  height: 36px;
}
.navigations1 {
  position: absolute;
  top: 0;
  left: calc(50% - 467px);
  width: 935px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-4xs) 0 var(--padding-5xs);
  box-sizing: border-box;
}
.navigations {
  position: absolute;
  top: 0;
  left: calc(50% - 960px);
  background-color: var(--dark-white);
  width: 1920px;
  height: 53px;
  overflow: hidden;
  font-size: var(--font-size-sm);
}
.border8 {
  position: absolute;
  width: 100%;
  top: 50px;
  right: 0;
  left: 0;
  background-color: var(--border-color);
  height: 1px;
}
.myProfile {
  width: 100%;
  position: relative;
  background-color: var(--dark-white);
  height: 1080px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--gray);
  font-family: var(--font-segoe-ui);
}
